.gallery {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  min-width: 700px;
}

.gallery__image {
  width: 24%;
  height: 400px;

  object-fit: cover;
  object-position: center;
  padding: 5px;
  margin: 5px;

  box-sizing: border-box;
  border: 2px solid rgb(232, 174, 124);
  border-radius: 5px;
}

.object-top {
  object-position: top;
}

.object-70 {
  object-position: 70%;
}

.object-right {
  object-position: right;
}